@import 'funcsvars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    appearance: none;
    border: none;
}

:root {
    font-size: 62.5%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}