* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

:root {
  font-size: 62.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

:root {
  font-size: 62.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.winner-modal {
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.winner-modal:not(.active) {
  display: none;
}

.winner-modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: unset;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
}

.winner-modal.active .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.winner-modal.active .content p {
  color: #e9bf5c;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c3c37;
  margin-bottom: 6.5rem;
  font: 5rem 'Righteous', cursive;
}

.winner-modal.active .content #play-again {
  position: absolute;
  color: #b5e3ea;
  background: #9c3c37;
  padding: 1rem 2rem;
  font: 1.5rem 'Righteous', cursive;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  bottom: 0;
}

.winner-modal.active .content #play-again:hover {
  font-size: 1.6rem;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media screen and (max-width: 720px) {
  .content {
    width: 90%;
    text-align: center;
  }
}

body {
  background: url("../images/game-background.webp") no-repeat center/cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

#content #back {
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

#content #back span {
  color: #b5e3ea;
  font-size: 4.5rem;
}

#content #game-board {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 1.8rem;
  padding: .5rem;
}

#content #game-board #card {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#content #game-board .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#content #game-board .cards:not(.flip) {
  cursor: pointer;
}

#content #game-board .cards:not(.flip) .card-square {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.3) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.3) 0px 3px 6px;
}

#content #game-board .cards .back-card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 12rem;
  height: 18rem;
  border-radius: 1.2rem;
  overflow: hidden;
  -webkit-box-shadow: white 0px -1px 4px, yellow 0px -2px 5px, #ff8000 0px -4px 8px, red 0px -6px 20px, 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: white 0px -1px 4px, yellow 0px -2px 5px, #ff8000 0px -4px 8px, red 0px -6px 20px, 0 0 0 0 rgba(0, 0, 0, 0);
}

.card-square img {
  width: 100%;
  height: 100%;
}

.front-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: not-allowed;
}

@media screen and (max-width: 1140px) {
  #game-board {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .card-square {
    width: 10rem;
    height: 15rem;
  }
}

@media screen and (max-width: 950px) {
  #back {
    display: none;
  }
  #content #game-board {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .card-square {
    width: 8rem;
    height: 12rem;
  }
}

@media screen and (max-width: 580px) {
  #content #game-board {
    gap: 1.5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  .card-square {
    width: 7rem;
    height: 10rem;
  }
}

@media screen and (max-width: 375px) {
  .card-square {
    width: 6rem;
    height: 8rem;
  }
}
/*# sourceMappingURL=game.css.map */